{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Cake Shop Inventory Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'product_list' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'place_order' %}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'feedback' %}">Feedbacks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'suppliers_page' %}">Suppliers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
 </nav>

<div class="content">

    <div class="container mt-5">
            <h1 class="text-center mb-4">Product Inventory</h1>
            <div class="d-flex justify-content-between mb-3">
                <h2>Products</h2>
                <a href="{% url 'product_create' %}" class="btn btn-success">Add Product</a>
            </div>
            {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 80px; height: 80px; object-fit: cover">

                            {% else %}
                            <img src="{% static 'images/placehold.jpg' %}" alt="No Image" style="width: 80px; height: 80px; object-fit: cover">
                            {% endif %}
                        </td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description|truncatechars:50 }}</td>
                        <td>Kshs. {{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>
                            {% if user.is_staff or user.is_superuser %}
                            <a href="{% url 'product_update' product.pk %}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger btn-sm">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No products available</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="text-center mb-3">
        <a href="{% url 'generate_pdf' %}" class="btn btn-primary">Generate PDF Report</a>
    </div>

</div>

{% endblock %}