.carousel-item img{
    object-fit: cover;
    height: 800px;
    border-radius: 10px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
}
h5, h3{
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
      border-radius: 15px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

html, body {
    height: 100%; /* Ensure the page takes full height */
    margin: 0; /* Remove default margin */
    background: linear-gradient(to right, #ff7e5f, #feb47b);

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
  margin-top: auto; /* Push footer to the bottom */
  background-color: #343a40; /* Dark background */
  color: white;
  text-align: center;
  padding: 15px 0;
}

/* Navigation link styles */
footer .nav-link {
    transition: color 0.3s ease;
    color: white;

}
.navbar-custom {
  background-color: #FF8A65;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #000 !important;
}


footer .nav-link:hover {
  color: #ff7e5f; /* A nice accent color */
}

/* Footer text styling */
footer p {
  font-size: 0.9rem;
  margin: 0;
}

.content{
    flex-grow:1;
}

.contact-details {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.container {
    margin-top: 20px;
    padding:0;
    height: auto;
}

.map-container iframe {
    border-radius: 5px;  /* Optional: adds rounded corners to the map */
}

form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 0;
}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Add this to your static CSS file or inside <style> tag in base.html */
.card-body {
    padding: 10px;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}


